<footer>
    <section class="footer-logo">
        <img class="logo-part1" src="<?php echo constant('URL'); ?>/static/img/cali.png" alt="">
        <img class="logo-part2" src="<?php echo constant('URL'); ?>/static/img/s.png" alt="">
    </section>
    <section class="footer-form">
        <div class="form">
            <form action="" method="post">
                <input type="email" placeholder="Your email address">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
        <div class="social">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </section>
    <section class="footer-copyright">
        <h5>©2021 ELIAN MONTENEGRO & LUCIO HOLZMAN</h5>
    </section>
</footer>